html,
body{
    height: 100%;
}
a,
input,
button,
textarea{
    outline-color: $color-secondary;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $color-secondary-dark1;
}
.main{
    flex: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}