html,
body{
    height: 100%;
}
a,
input,
button{
    outline-color: $color-text;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.main{
    flex: 1;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}