.products-list{
    &__inner{
        padding: 120px 0;
        display: flex;
    }
    &__filters{
        min-width: 270px;
        margin-right: 30px;
        text-align: left;
    }
    &__content-grid{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
        margin-bottom: 100px;
        .products-item{
            .star,
            &__text{
                display: none;
            }
        }
    }
    &__content-list{
        text-align: left;
        margin-bottom: 100px;
        .products-item{
            display: flex;
            max-width: 100%;
            width: 100%;
            border-radius: 0;
            padding: 0;
            box-shadow: none;
            margin-bottom: 40px;
            &:hover{ 
                .products-item__img{
                    transform: none;
                }
                .products-item__title{
                    color: currentColor;
                    text-shadow: none;
                }
            }
            &__img-wrap{
                width: 370px;
                height: 500px;
                margin-bottom: 0;
                border: 2px solid #f2f2f2;
                background-color: #fefefe;
                transition: all 0.3s;
                &:hover{
                    box-shadow: 3px 6px 47px 3px rgba(37, 37, 37, 0.1);
                    .products-item__img{
                        transform: scale(1.07);
                    }
                }
            }
            &__img{
                padding: 30px;
                object-fit: contain;
            }
            &__info{
                margin: 80px 30px 0 60px;
                position: relative;
            }
            &__title{
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                font-size: 40px;
                color: #333;
                margin-bottom: 20px;
            }
            .products-item__title:hover{
                color: $color-primary;
                text-shadow: 1px 1px 1px $color-title;
            }
            &__price{
                display: inline-block;
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                font-size: 30px;
                color: #333;
                margin-bottom: 30px;
                .currency{
                    float: right;
                }
            }
            &__text{
                display: block;
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: $color-secondary-dark1;
                margin-bottom: 35px;
            }
            &__buttons{
                opacity: 1;
                justify-content: start;
                position: static;
            }
            &__link-btn{
                width: 50px;
                height: 50px;
                line-height: 48px;
                border-radius: 0px;
                box-shadow: 3px 6px 47px 3px rgba(37, 37, 37, 0.08);
            }
            &__link-btn--search{
                display: none;
            }
        }
    }
}

.filter,
.products-recent{
    &__title{
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        color: $color-secondary-dark1;
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        &::after{
            content: '';
            background-color: $color-secondary;
            width: 40px;
            height: 3px;
            position: absolute;
            top: 10px;
            right: -55px;
        }
    }
}
.filter{
    &__item{
        margin-bottom: 60px;
    }
    &__label{
        display: block;
        width: 100%;
        height: 40px;
        cursor: pointer;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        line-height: 40px;
        font-weight: 400;
        color: $color-secondary-dark1;
        margin-bottom: 2px;
    }
    &__input{
        @extend %radio-hidden;
        &:checked + .filter__checkbox{
            background-color: #edf1f4;
        }
    }
    &__checkbox{
        padding: 0 20px 0 15px;
        border-radius: 4px;
    }
}
.filter-category{
    &__checkbox{
        position: relative;
        &::after{
            content: '';
            width: 5px;
            height: 10px;
            position: absolute;
            top: 14px;
            right: 20px;
            background-image: url(../images/angle-right.svg);
            background-repeat: no-repeat;
        }
    }
}

.filter-price{
    @extend %Rubik-400;
    color: $color-secondary-dark1;
    &__to{
        float: right;
        padding-right: 10px;
    }
}
.irs--flat{
    .irs-line {
        top: 10px;
        height: 3px;
        background-color: $color-secondary;
        opacity: 0.66;
        border-radius: 0;
    }
    .irs-bar {
        top: 10px;
        height: 4px;
        background-color: $color-secondary;
    }
    .irs-handle {
        top: 5px;
        width: 15px;
        height: 15px;
        border: none;
        background-color: $color-secondary;
        border-radius: 0;
        box-shadow: none;
    }
    .irs-from, 
    .irs-to, 
    .irs-single,
    .irs-from:before,
    .irs-to:before,
    .irs-single:before,
    .irs-handle>i:first-child,
    .irs-min,
    .irs-max,
    .irs-shadow{
        display: none;
    }
}

.filter-brand{
    &__checkbox{
        display: flex;
        justify-content: space-between;
    }
}
.products-recent{
    .products-item{
        display: flex;
        max-width: 100%;
        width: 100%;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
        margin-bottom: 25px;
        &:hover{ 
            .products-item__img{
                transform: none;
            }
            .products-item__title{
                color: currentColor;
                text-shadow: none;
            }
        }
        &__img-wrap{
            border:1px solid  orangered;
            width: 67px;
            height: 67px;
            margin-bottom: 0;
            border: 2px solid #f2f2f2;
            background-color: #fefefe;
        }
        &__img{
            padding: 3px;
            object-fit: scale-down;
        }
        &__info{
            margin: 3px 20px 0 0px;
            position: relative;
        }
        &__title{
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #333;
            margin-bottom: 8px;
        }
        &__price{
            display: inline-block;
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            font-size: 15px;
            color: #333;
            margin-bottom: 0px;
            .currency{
                float: right;
            }
        }
        &__text,
        &__buttons{
            display: none;
        }
        .star--recent{
            margin-bottom: 8px;
            margin-left: 5px;
        }
    }
}
  
.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    &__link{
        display: block;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        line-height: 48px;
        text-align: center;
        font-weight: 400;
        color: $color-secondary-dark1;
        min-width: 50px;
        height: 50px;
        border: 1px solid $color-secondary;
        padding: 0 20px;
        & + .pagination__link{
            margin-left: 15px;
        }
    }
    &__current{
        background-color: $color-secondary;
        color: #fff;
    }
    &__disabled{
        display: none;
    }
}