@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
        max-width: 1800px;
        margin: 0 auto;
        padding: 50px 15px 45px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    &__list{
        display: flex;
    }
    &__list-item{
        margin: 0 15px;
    }
    &__list-link{
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        line-height: 12px;
        font-weight: 500;
        color: #436372;
        transition: all 0.3s;
        &:hover{
            color: #fcd7b6;
        }
    }
}
.user-nav{
    display: flex;
    &__link{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 13px;
        position: relative;
        svg{
            transition: all 0.2s;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &:hover{
            svg{
                transform: scale(1.2);
            }
        }
        span{
            min-width: 15px;
            padding: 0 3px;
            height: 15px;
            border-radius: 50%;
            display: block;
            position: absolute;
            right: 7px;
            top: 11px;
            text-align: center;
            background-color: #fff;
            font-family: 'DM Sans', sans-serif;
            color: #243f4d;
            font-size: 10px;
            line-height: 15px;
            font-weight: 400;
        }
    }
    &__link--search{
        background-color: #edf1f4;
        margin: 0 20px 0 0;
    }
    &__link--dots{
        background-color: #a3bbc8;
        margin-left: 20px;
    }
    &__link-wrap{
        background-color: #fcd7b6;
        border-radius: 25px;
        display: flex;
        padding: 0 13px;
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 32px;
            background-color: #fde7d3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.main{
    background-color: #fcd7b6;
}


.footer{
    @extend %Rubik-400;
    color: $default-color;
    &__top{
        padding: 75px 0 60px;
        border-bottom: 1px solid #dae4e9;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        flex: 0 0 270px;
        padding-right: 30px;

    }
    &__logo{
        display: block;
        margin-bottom: 17px;
    }
    &__list{
        flex: 0 1 270px;
    }
    &__form{
        flex: 0 0 270px;

    }
    &__title{
        color: #1f2044;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 15px 0 20px;
    }
    &__addr,
    &__tel,
    &__email,
    &__list-link{
        @extend %Rubik-400;
        color: $default-color;
        font-style: normal;
        display: block;
        margin-bottom: 10px;
    }
    &__tel,
    &__email,
    &__list-link{
        &:hover{
            text-decoration: underline;
        }
    }
    &__form-text{
        margin-bottom: 35px;
    }
    &__form-input{
        color: #1f2044;
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        width: 170px;
        height: 38px;
        background-color: #fef7f0;
        border: none;
        padding: 5px 10px;
        margin: 0;
        &::placeholder{
            color: #234969;
        }
    }
    &__form-btn{
        color: #fff;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        vertical-align: bottom;
        height: 38px;
        width: 97px;
        background-color: #a3bbc8;
        border: none;
        margin-left: -2px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background-color: #436372;
        }
    }
    &__bottom{
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav{
        display: flex;
    }
    &__nav-list + .footer__nav-list{
        margin-left: 30px;
        position: relative;
        &::before{
            content: '|';
            position: absolute;
            left: -15px;
        }
    }
    &__nav-link{
        @extend %Rubik-400;
        color: $default-color;
        &:hover{
            text-decoration: underline;
        }
    }
}

@import 'media';