@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'animations';
@import 'global';

.header{
    &__inner{
        max-width: 1800px;
        margin: 0 auto;
        padding: 50px 15px 45px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu{
    &__list{
        display: flex;
    }
    &__list-item{
        margin: 0 15px;
    }
    &__list-link{
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        line-height: 12px;
        font-weight: 500;
        color: #436372;
        transition: all 0.3s;
        &:hover{
            color: $color-primary;
        }
    }
}
.user-nav{
    display: flex;
    &__link{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 13px;
        position: relative;
        text-align: center;
        line-height: 48px;
        i{
            vertical-align: middle;
            color: $color-secondary-dark1;
            transition: all 0.2s;
        }
        &:hover{
            i{
              font-size: 20px;
            }
        }
        span{
            min-width: 15px;
            padding: 0 3px;
            height: 15px;
            border-radius: 50%;
            display: block;
            position: absolute;
            right: 7px;
            top: 11px;
            text-align: center;
            background-color: #fff;
            font-family: 'DM Sans', sans-serif;
            color: $color-secondary-dark1;
            font-size: 10px;
            line-height: 15px;
            font-weight: 400;
        }
    }
    &__link--search{
        background-color: #edf1f4;
        margin: 0 20px 0 0;
    }
    &__link--dots{
        background-color: $color-secondary;
        margin-left: 20px;
        i{
        font-size: 20px;
        color: #fff;
        }
        &:hover{
            i{
                font-size: 22px;
            }
        }
    }
    &__link-wrap{
        background-color: $color-primary;
        border-radius: 25px;
        display: flex;
        padding: 0 13px;
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 32px;
            background-color: #fff;
            opacity: 0.4;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.main{
    background-color: #fff;
}

.title{
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: $color-title;
    padding-bottom: 35px;
    text-align: center;
}

.intro{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    &__items{
        background-color: $color-primary-light2;
        padding: 45px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::before,
        &::after{
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            top: 0;
            background-color: #e8e4df;
        }
        &::before{
            left: 33%;
        }
        &::after{
            right: 33%;
        }
    }
    &__item{
        flex: 0 1 33.333%;
    }
    &__item-inner{
        max-width: 315px;
        margin: 0 auto;
        position: relative;

    }
    &__item-img{
        position: absolute;
        left: 0;
        top: 0;
        &:hover{
            animation: hvr-wobble-vertical 1s 1;
        }
    }
    &__item-title{
        font-family: 'DM Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #414141;
        padding-left: 80px;
        margin-bottom: 10px;
    }
    &__item-text{
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #414141;
        padding-left: 80px;
        max-width: 315px;
    }
}
.intro-slider{
    overflow: hidden;
    background-color: $color-primary;
    padding-bottom: 45px;
    padding-top: 100px;
    &__item{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        padding-top: 120px;
    }
    &__title{
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color: $color-secondary-dark1;
        font-size: 72px;
        line-height: 70px;
        margin-bottom: 30px;
        max-width: 500px;
    }
    &__text{
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        color: #436372;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
        max-width: 380px;
    }
    &__btn{
        @extend %btn-arrow;
        min-width: 200px;
        background-color: $color-secondary;
        padding: 0 50px 0 25px;
        color: #fff;
        &:hover{
            background-color: #436372;
        }
    }
    &__image{
        width: 635px;
        height: 635px;
        position: relative;
        z-index: 2;
        & img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-position: center center;
        }

        &::after{
            content: '';
            z-index: -1;
            width: 635px;
            height: 635px;
            position: absolute;
            bottom: -50%;
            transform: translateY(-50%);
            right: -115px;
            border-radius: 50%;
            background: linear-gradient(270deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 90%);
        }
    }
    & .slick-dots{
        display: flex;
        justify-content: center;
        & li{
            margin: 0 4px;
        }
        & button{
            width: 28px;
            height: 28px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            font-family: 'Rubik', sans-serif;
            color: #243f4d;
            font-size: 11px;
            line-height: 11px;
            font-weight: 500;
            background-color: rgba(#ffffff, 0.3)
        }
        & .slick-active button{
            background-color: rgba(#ffffff, 1)
        }
    }
}

.footer{
    @extend %Rubik-400;
    color: $color-text;
    &__top{
        padding: 75px 0 60px;
        border-bottom: 1px solid #dae4e9;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        flex: 0 0 270px;
        padding-right: 30px;

    }
    &__logo{
        display: block;
        margin-bottom: 17px;
    }
    &__list{
        flex: 0 1 270px;
    }
    &__form{
        flex: 0 0 270px;

    }
    &__title{
        color: #1f2044;
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 15px 0 20px;
    }
    &__addr,
    &__tel,
    &__email,
    &__list-link{
        @extend %Rubik-400;
        color: $color-text;
        font-style: normal;
        display: inline-block;
        margin-bottom: 10px;
    }
    &__tel,
    &__email,
    &__list-link{
        &:hover{
            text-decoration: underline;
        }
    }
    &__form-text{
        margin-bottom: 35px;
    }
    &__form-input{
        color: #1f2044;
        font-family: 'DM Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
        width: 170px;
        height: 38px;
        background-color: $color-primary-light2;
        border: none;
        padding: 5px 10px;
        margin: 0;
        &::placeholder{
            color: #234969;
        }
    }
    &__form-btn{
        color: #fff;
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        vertical-align: bottom;
        height: 38px;
        width: 97px;
        background-color: $color-secondary;
        border: none;
        margin-left: -2px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            background-color: #436372;
        }
    }
    &__bottom{
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav{
        display: flex;
    }
    &__nav-list + .footer__nav-list{
        margin-left: 30px;
        position: relative;
        &::before{
            content: '|';
            position: absolute;
            left: -15px;
        }
    }
    &__nav-link{
        @extend %Rubik-400;
        color: $color-text;
        &:hover{
            text-decoration: underline;
        }
    }
}

.products{
    padding-top: 75px;
    text-align: center;
    &__filter{
        margin-bottom: 80px;
    }
    &__filter-btn{
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #8b8b8b;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0 15px;
        padding: 0;
    }
    &__filter-btn--active{
        color: $color-title;
    }
    &__items{
        margin-bottom: 90px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
}
.products-item{
    max-width: 270px;
    width: 100%;
    border-radius: 10px;
    padding: 15px 15px 35px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 5.196px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    &__img-box{
        width: 240px;
        height: 230px;
        margin-bottom: 55px;
        overflow: hidden;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-fit: scale-down;
        object-position: center center;
        transition: all 0.5s ease-in-out;
    }
    &__links-box{
        opacity: 0;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 65%;
        transition: all 0.5s ease-in-out;
    }
    &__link{
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        color: $color-secondary;
        box-shadow: 3px 6px 47px 3px rgba(37, 37, 37, 0.08);
        margin: 0 8px;
        line-height: 45px;
        transition: all 0.4s ease-in-out;
        &::before{
            font-family: 'icomoon' !important;
            color: inherit;
            font-size: 20px;
        }
        &:hover{
            background-color: $color-secondary;
            color: #fff;
        }
    }
    &__link--search::before{
        content: "\e901";
    }
    &__link--cart::before{
        content: "\e905";
    }
    &__link--heart::before{
        content: "\e903";
    }

    &__title,
    &__price{
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        padding: 0 10px;
    }
    &__title{
        font-weight: 500;
        color: $color-secondary-dark1;
        margin-bottom: 10px;
    }
    &__price{
        font-weight: 700;
        color: $color-secondary;
    }
    &:hover{ 
        .products-item__img{
            transform: scale(1.07);
        }
        .products-item__links-box{
            opacity: 1;
            top: 46%;

        }
    }
}
.products-bottom{
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    &__item{
        background-image: linear-gradient(180deg, transparent 100px, $color-primary-light1 100px);
        margin: 0 15px;
        padding: 0 25px 85px;
        flex: 1 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    &__item-info{
        text-align: left;
        padding-top: 185px;
    }
    &__item-title{
        font-family: 'DM Sans', sans-serif;
        font-size: 26px;
        line-height: 32px;
        font-weight: 700;
        color: $color-secondary-dark1;
        max-width: 300px;
        margin-bottom: 15px;
    }
    &__item-text{
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: $color-secondary-dark1;
        max-width: 300px;
        margin-bottom: 25px;
    }
    &__item-link{
        @extend %btn-arrow;
        color: #436372;
        border-radius: 5px;
        background-color: $color-primary-light1;
        border: 1px solid #436372;
        &:hover{
            background-color: $color-secondary;
            color: #fff;
        }
    }
    &__item-image{
        margin-right: 50px;
    }
}


@import 'media';



